{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="nav_images">
        <div>
            <a href="{% url 'scenarios:expansions' %}"><img class="nav_icon" src="{%  static 'core/images/hex_icon.png' %}"></a>
            <p>SCENARIOS</p>
        </div>
        <div>
            <a href="https://github.com/Team-2502/WebTimeTracker2"><img class="nav_icon" src="{%  static 'core/images/dice_icon.png' %}"></a>
            <p>LOG A PLAY</p>
        </div>
        <div>
            <a href="https://github.com/Team-2502/WebTimeTracker2"><img class="nav_icon" src="{%  static 'core/images/stars_icon.png' %}"></a>
            <p>PROFILE</p>
        </div>
    </div>

{% endblock %}