<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'core/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora">
    <meta charset="UTF-8">
    <title>Tracker 44</title>
</head>
<body style="font-family: 'Sora', serif;">
    {% load static %}
    <header style="text-align: center">
        <h1>Tracker '44</h1>
    </header>

    <div class="nav_images">
        <div> <a href="https://github.com/Team-2502/WebTimeTracker2"><img class="nav_icon" src="https://s3.amazonaws.com/illustrativemathematics/images/000/001/398/max/threehexagons_9dffd5d25d8fc4fa1afbae30909781c3.jpg?1346198681"></a></div>
        <div> <a href="https://github.com/Team-2502/WebTimeTracker2"><img class="nav_icon" src="https://atlas-content-cdn.pixelsquid.com/stock-images/plastic-soldier-army-man-K6rKyyE-600.jpg"></a></div>
        <div> <a href="https://github.com/Team-2502/WebTimeTracker2"><img class="nav_icon" src="https://ncdn0.daysofwonder.com/memoir44-online/en/img/mo_achievements_deco.png"> </a></div>
    </div>

</body>
</html>