@font-face {
    font-family: '4077th';
    src: url('fonts/4077th/4077th.woff2') format('woff2'),
         url('fonts/4077th/4077th.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EEEEEE;
    color: #444;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-family: "4077th", serif;
    font-size: 75px;
    color: #444;
}

h2 {
    font-family: "4077th", serif;
    font-size: 55px;
    color: #444;
    text-align: center;
}

header {
    line-height: 1.3;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-auto-rows: auto;
    align-items: center;
    text-align: center;
}

.nav_images {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 -30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "4077th", serif;
}

.nav_icon {
    width: 300px;
    height: 300px;
    margin: 0 30px;
    transition: transform .2s;
}

.nav_icon:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a{
    color: #444;
}
a:visited{color: #444}

.expansion_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    align-items: center;
}

.column {
    font-family: "4077th", serif;
    font-size: 75px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('images/hex_outline.png') no-repeat center;
    background-size: auto 100%;
}

@media screen and (max-width: 800px) {
  .expansion_grid {
    grid-template-columns: 1fr;
  }
}

.table .thead-dark th {
    color: #fff;
    background-color: #444;
    border-color: #454d55;
}

.form {

}