@font-face {
    font-family: '4077th';
    src: url('fonts/4077th/4077th.woff2') format('woff2'),
         url('fonts/4077th/4077th.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EEEEEE;
    color: #444;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

h1 {
    font-family: "4077th", serif;
    font-size: 60px;
    color: #444;
}

header {
    line-height: 1.3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    align-items: center;
}

.nav_images {
    align-items: center;
    justify-content: center;
    margin: 0 -30px;
    display: flex;
    flex-direction: row;
    font-family: "4077th", serif;
}

.nav_icon {
    width: 300px;
    height: 300px;
    margin: 0 30px;
    transition: transform .2s;
}

.nav_icon:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a{
    color: #444;
}
a:visited{color: #444}