<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracker 44</title>
</head>
<body style="font-family: 'Sora', serif; text-align: center;">

    <header>
        <h1 style="grid-column-start: 2;">TRACKER '44</h1>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>