{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <p>{{ profile.user.username }}</p>
    <a href="https://google.com" style="text-decoration: underline; color: #444">Change Password</a><br><br>

    <p> Scenarios Played </p>
    <p>{{ profile.scenarios_played }} / 640 </p><br>

    <p style="text-decoration: underline">Expansions Completed</p>
    {% for expansion in profile.get_list_expansions_completed %}
        <p>{{ expansion.name }}</p>
    {% endfor %}

    <br>

    <p>Scenarios Played Last Week</p>
    <p>{{ profile.get_num_scenarios_last_week }}</p>
    <p>Scenarios Played This Month</p>
    <p>{{ profile.get_num_scenarios_this_month }}</p>
    <p>Scenarios Played This Year</p>
    <p>{{ profile.get_num_scenarios_this_year }}</p>
{% endblock %}