{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    {% load static %}
    <div class = "expansion_grid">
        <div class="column" >

            <p class="expansion_text"> ALL </p>
        </div>
        <div class="column">
            <p class="expansion_text" style="color: darkgreen"> M44 </p>
        </div>
        <div class="column">
            <p class="expansion_text" style="color: lightskyblue"> AIR </p>
        </div>

        <div class="column">
            <p style="color: tan"> MT </p>
        </div>
        <div class="column">
            <p style="color: dodgerblue"> PT </p>
        </div>
        <div class="column">
            <p style="color: darkred"> EF </p>
        </div>

        <div class="column">
            <p style="color: lightgreen"> TP </p>
        </div>
        <div class="column">
            <p style="color: cornflowerblue" > WW </p>
        </div>
        <div class="column">
            <p style="color: darkgrey"> EP </p>
        </div>

        <div class="column">
            <p style="color: darkgreen"> DDL </p>
        </div>
        <div class="column">
            <p style="color: darkorange"> BT </p>
        </div>
        <div class="column">
            <p style="color: mediumpurple" > NFP </p>
        </div>

        <div class="column">
            <p> CB 1 </p>
        </div>
        <div class="column">
            <p> CB 2 </p>
        </div>
        <div class="column">
            <p style="font-size: 40px;"> CAMPAIGN <br> PROMOS </p>
        </div>

        <div class="column">
            <p style="font-size: 40px;"> BATTLE<br> MAPS <br> SERIES 1 </p>
        </div>
        <div class="column">
            <p style="font-size: 40px;"> BATTLE<br> MAPS <br> SERIES 2 </p>
        </div>
        <div class="column">
            <p style="font-size: 45px;"> OTHER <br> PROMOS </p>
        </div>

        <div class="column">
            <p style="font-size: 45px;"> FRENCH <br> OPEN </p>
        </div>
        <div class="column">
            <p style="font-size: 45px;"> DUTCH <br> OPEN </p>
        </div>
        <div class="column">
            <p style="font-size: 60px;"> OTHER  </p>
        </div>
    </div>

{% endblock %}