<!doctype html>
<html lang="en">
  <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href=http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css>
      <link rel="stylesheet" type="text/css" href=http://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css>
      <link rel="stylesheet" type="text/css" href="{%  static 'core/style.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tracker '44</title>
  </head>
  <body>
    <header>
        <h1 style="grid-column-start: 2;">TRACKER '44</h1>

        {% if user.is_authenticated %}
            <div class="user_auth">
              <a href="https://www.w3schools.com/howto/howto_css_image_overlay.asp">{{ user.username }}</a><br>
              <a href={% url 'user_profile:logout' %}>Logout</a>
            </div>

        {% else %}
            <div class="user_auth">
                <a href={% url 'user_profile:login' %}>Login</a><br>
                <a href={% url 'user_profile:sign_up' %}>Register</a>
            </div>

        {% endif %}

    </header>

    <br>

    <h2>{{ title }}</h2>

    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Scenario</th>
                <th>Expansion</th>
                <th style="text-align: center">Board</th>
                <th>Date</th>
                <th>Number</th>
            </tr>
            </thead>
        <tbody>
        {% for scenario in scenarios %}
            {% if scenario.get_scenario_type_display == 'Overlord' %}
            <tr class="table-danger">
            {% elif scenario.get_scenario_type_display == 'Breaktrough'%}
            <tr class="table-warning">
            {% elif scenario.get_scenario_type_display == 'Breaklord'%}
            <tr class="table-info">
            {% else %}
            <tr>
            {% endif %}

                <td>{{  scenario.name }} </td>
                {% if scenario.sub_expansion %}
                    <td>{{ scenario.expansion.name }} - {{ scenario.sub_expansion.name }} </td>
                {% else %}
                    <td>{{ scenario.expansion.name }}</td>
                {% endif %}
                {% if scenario.get_board_display == 'Countryside' %}
                    <td style="text-align: center"><img src="{% static 'core/images/green_hex_icon_small.png' %}"></td>
                {% elif scenario.get_board_display == 'Winter' %}
                    <td style="text-align: center"><img src="{% static 'core/images/white_hex_icon_small.png' %}"></td>
                {% elif scenario.get_board_display == 'Desert' %}
                    <td style="text-align: center"><img src="{% static 'core/images/brown_hex_icon_small.png' %}"></td>
                {% elif scenario.get_board_display == 'Beach' %}
                    <td style="text-align: center"><img src="{% static 'core/images/beach_hex_icon_small.png' %}"></td>
                {% endif %}
                <td>{{ scenario.date }}</td>
                <td>{{ scenario.number }}</td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
    </div>

    <script type="text/javascript" charset="utf8" src= "http://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src=http://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js></script>
    <script type="text/javascript" charset="utf8" src=http://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js></script>
    <script type="text/javascript" src="{% static 'core/js/initialize_data_tables.js' %}"></script>
  </body>
</html>